.card{
    border: none;
  }
.cardHeight{
    height: 267px;
}
.carName{
    font-size: 20px;
    font-weight: 700;
    color:#242731;
    margin-left: 10px;
    margin-right: auto;
  }
.heart{
    position:absolute;
    right:25px;
    top:23px;
  }
.heartBtn{
    position:absolute;
    right:25px;
    top:23px;
  }
  
.heartBtn:hover{
    fill: #F84F56;
    
  }
.coupe{
    margin-left:10px; 
    color: #72767C;
  }
.textInCard{
    margin-left: 10px;
  }
.four{
    margin-left: 8px;
    font-size:18px;
    color: #72767C;
  }
.arrowsInCard{
    margin-left: 17.7px;
  }

.carBookings{
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
.carBookings1{
    width: 100%;
    height: 60%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
.carBookings2{
    width: 100%;
    height: 60%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
.carBookings3{
    width: 100%;
    height: 60%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
.cardHeight{
    height: 267px;
  }
  
.manual{
    font-size:18px; 
    margin-left: 2px; 
    color: #72767C;
  }
.fourHundred{
    font-size:18px;
    font-weight: 700;
    position: absolute;
    right: 45px;
    color:#242731;
  }
.perDay{
    font-size:18px;
    position: absolute;
    right: 25px;
    color: #72767C;
  }