.sign-up-container {
    display: flex;
    flex-direction: column;
    width:380px;
}

h3{
    margin:10px 0;

}
span{
    margin:10px 0;
    
}
.signIn12{
    border: 122px;
    border-color: red;
}