#cardSection{
    margin-top: 50px;
    margin-left: 10px;
  }

  #statistics{
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-between;
    }

  #cars{
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-between;
  }
  #main{
    background-color: #f5f5f5;
  }