.filterButton{
    border-radius: 22.5px;
    border:none;
    width: 122px;
    height:32px;
    display: inline-block;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    
  }
  
  .imgPos{
    position:absolute;
    right:32px;
    padding-top: 35px;
  }
  
  .imgPos2{
    position:absolute;
    right:87px;
    padding-top: 30px;
  }
  
  